@import '~antd/dist/antd.dark.less';
@import 'theme.less';

/*HELPERS*/
.align-center{text-align:center;}
.align-left{text-align:left;}
.align-right{text-align:right;}

/*FULLPAGE*/
.fullpage {
	width: 100%;
	height: 100vh;

	> * {
		height: 100%;
	}
}

.fullpage.hider {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background: @body-background;
}

/*LAYOUT*/
.topbar{
	background:fade(@body-background,60%);
	box-shadow: @box-shadow-base;
	backdrop-filter: blur(20px);
	padding-left:20px;
	padding-right:20px;
	position:fixed;
	width:100%;
	z-index: 2;

	.logo-box{float:left;}
	.access-box{float:right;}

	#logo{height:46px;}

	@media screen and (min-width: 996px) {
		padding-left:40px;
		padding-right:40px;
	}
	@media screen and (min-width: 1200px) {
		padding-left:60px;
		padding-right:60px;
	}
}

.main-content{
	padding:64px 20px;
	min-height: calc(100vh ~"-" 114px);
	
	@media screen and (min-width: 996px) {
		padding:64px 40px;
	}
	@media screen and (min-width: 1200px) {
		padding:64px 60px;
	}
}

.footer{
	height: 50px;
	text-align: center;
	font-size:0.8em;
	color:#999;
}

/*FORM*/
#loginForm.ant-form{
	padding-top: @form-item-margin-bottom;
}
.ant-input-prefix{
	margin-right: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

/*COMPONENTS*/

.userHeader {
	height:250px;
	background-color:shade(@skeleton-color,30%);
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
.ant-avatar {
	background:@skeleton-color;
}

/*USER PROFILE PAGE*/
.userProfilePage {
	text-align:center;

	> .userPic {
		display:block;
		margin-top:-75px;
		.ant-avatar, .ant-skeleton-avatar {
		box-shadow: 0 0 15px #000;
		}
	}
	.profileSkeleton {
		width:300px;
		margin:12px auto;
		.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title{ margin: 0 auto; height:1.22em; }
		.ant-skeleton-content .ant-skeleton-paragraph{margin-top:32px;} 
		.ant-skeleton-content .ant-skeleton-paragraph li{height:10px;}
		.ant-skeleton-content .ant-skeleton-paragraph li + li{margin-top:10px;}
		.ant-skeleton-content .ant-skeleton-paragraph > li:last-child { display:none; }
	}
	.userProfileBio {
		white-space: pre-line;
		.anticon-edit{margin-right:-1.5em;margin-left:0.5em;}

	}
	
	#bioForm .ant-form-item {
    margin-bottom: 10px;

		textarea.ant-input { 
			text-align: center;
			padding-top:0;
			@media screen and (min-width: 996px) {
				max-width: 500px;
			}
		}
  }
	
}

/*
Image Uploader
*/
.ant-upload.ant-upload-drag.imageUploader{
	@imageUploaderHeight: 200px;
	height:@imageUploaderHeight;
	.ant-upload{padding:0 !important;}

	.imageUploader-preview{
		height:@imageUploaderHeight;

		.imageUploader-preview-box{
			position:relative;
			display: inline-block;
			height:100%;

			img {
				height:100%;
				width:auto;
				position:relative;
				z-index:1;
				&.imageUploader-uploading{
					opacity:0.6;
				}
			}
	
			.ant-progress{
				position:absolute;
				z-index:10;
				top:50%;
				right:50%;
				transform: translate3d(50%, -50%, 0);
				transition: all 300ms;
	
				&.progress-done{
					top:10px;
					right:10px;
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}