@import '~antd/dist/antd.dark.less';
@import 'theme.less';

/*HELPERS*/
.gray-text{color:@gray-color;}
.dark-gray-text{color:@dark-gray-color;}

.align-center{text-align:center;}
.align-left{text-align:left;}
.align-right{text-align:right;}

.bg-cover{background-repeat: no-repeat;background-position: center center;background-size: cover;}
.opt{color:@gray-color;font-size: 0.7em;font-style: italic;}
.ant-form-item-label .opt{padding-left:5px;position: relative;top:2px;}
.pre-line{white-space: pre-line;}

/*FULLPAGE*/
.fullpage {
	width: 100%;
	height: 100vh;

	> * {
		height: 100%;
	}
}

.fullpage.hider {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background: @body-background;
}

/*LAYOUT*/
.topbar{
	background:fade(@body-background,60%);
	box-shadow: @box-shadow-base;
	backdrop-filter: blur(20px);
	padding: 0 20px;
	position:fixed;
	width:100%;
	z-index: 2;

	.ant-row{height: 100%;}
	.ant-col{line-height: 1;}

	.ant-select-auto-complete{width:100%;}

	.mobile-topbar{display: flex;justify-content: space-between;align-items:center;}

	#logo{height:50px;}

	
	@media screen and (min-width: 996px) {
		padding-left:40px;
		padding-right:40px;
	}
	@media screen and (min-width: 1200px) {
		padding-left:60px;
		padding-right:60px;
	}
}

.mobile-drawer-box{
	display: flex;
	flex-direction: column;
	justify-content: center;

	> *{margin-bottom: 32px;}
	> *:last-child{margin-top:32px;margin-bottom: 0;align-self: center;}
	@media screen and (orientation: landscape) {
		> *{margin-bottom: 16px;}
		> *:last-child{margin-top:0;}
	}
	
	.mobile-drawer-user{
		text-align: center;

		.ant-avatar{width: 100px;height: 100px;}
		@media screen and (orientation: landscape) {
			.ant-avatar{width: 50px;height: 50px;}
		}
	}
}

.mobile-drawer .ant-drawer-body{display: flex;flex-direction: column;justify-content: center;}

.main-content{
	padding:64px 20px;
	.padded-content{padding-top:20px;}
	
	@media screen and (min-width: 996px) {
		padding:64px 40px;
	}
	@media screen and (min-width: 1200px) {
		padding:64px 60px;
	}
}

.footer{
	padding: 40px 0;
	text-align: center;
	font-size:0.8em;
	color:@gray-color;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.api-check{margin-bottom: 10px;}
}

/*FORM*/
#loginForm.ant-form{
	/* padding-top: @form-item-margin-bottom; */
	.ant-form-item:last-child{margin-bottom:0;}
}
.ant-input-prefix{
	margin-right: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: color 9999s ease-out, background-color 9999s ease-out;
    transition-delay: 9999s;
}

.ant-input-affix-wrapper-readonly{
	background: @border-color-base;
}

/*ANT*/
.ant-drawer{z-index:999;}

.ant-btn{font-weight: 700;}
.ant-btn.ant-btn-link{font-weight: 400;}

/*COMPONENTS*/
@userHeader-height:250px;
@userHeader-radius:40px;
@userHeader-background:shade(@skeleton-color,30%);
.userHeader {
	height:@userHeader-height;
	background-color:@userHeader-background;
	border-bottom-left-radius: @userHeader-radius;
	border-bottom-right-radius: @userHeader-radius;
}
.ant-avatar {
	background:@skeleton-color;
}
.ant-avatar-group .userPic:not(:first-child) {
	margin-left: -8px;
}

.nftCard{
	.ant-card{
		border-radius: 8px;
		text-align: left;

		.ant-card-head{
			border-bottom:none;	
		}

		.ant-card-cover{
			text-align: center;
			height:250px;
			line-height:250px;
			vertical-align: middle;

			img{display:inline-block;max-width: 100%;max-height: 250px;border-radius:0}
		}

		.ant-card-body{padding-top:13px;padding-bottom:15px;}
		
		p{font-size:0.8em;margin-bottom:0;line-height: 1.2;color:@gray-color;}
		.price-label{font-size:1.3em;}
		.countdown{font-size:1.3em;}
	}

	.not-for-sale{line-height:44px;height:44px;color:@gray-color;text-align: center;}

	.ant-skeleton-title {
    margin-top: 4px;
	}

	.ant-skeleton-title + .ant-skeleton-paragraph {
    margin-top: 26px;
	}
}

.userCard{
	text-align: center;
	.ant-skeleton-title {
    margin-top: 4px;
		display: inline-block;
	}
	.ant-skeleton-paragraph{display: none;}
}

.ant-select-item-group{font-size:16px;font-weight: bold;}
.ant-select-item-option-content {
	.nftImage{max-height:40px;max-width: 40px;}
	.nftTitle{vertical-align: middle;margin:0 5px;}
	.userNick{vertical-align: middle;margin:0 5px;}
}

/*
Image Uploader
*/
.ant-upload.ant-upload-drag.imageUploader{
	@imageUploader-height: 200px;
	height:@imageUploader-height;
	box-sizing: content-box;

	.ant-upload{padding:0 !important;}
	.imageUploader-overlay{position:absolute;z-index:2;}
	.imageUploader-content{
		display: flex;
    flex-direction: column;
    justify-content: center;
		overflow: hidden;
		position:relative;
		
		.imageUploader-preview{
			height:@imageUploader-height;
			.imageUploader-cover{position:absolute;width:100%;height:100%;}
			img {
				height:100%;
				width:auto;
				position:relative;
				z-index:1;
				&.imageUploader-uploading{
					opacity:0.6;
				}
			}
	
			.ant-progress{
				position:absolute;
				z-index:10;
				top:50%;
				right:50%;
				transform: translate3d(50%, -50%, 0);
				transition: all 300ms;
	
				&.progress-done{
					top:10px;
					right:10px;
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}

/*USER PROFILE PAGE*/
.userProfilePage {
	@userPic-size:110px;
	text-align:center;

	> .userPic {
		display:block;
		margin-top:-75px;
		.ant-avatar, .ant-skeleton-avatar {
			box-shadow: 0 0 15px #000;
		}
	}
	.header-uploader.ant-upload.ant-upload-drag.imageUploader{
		height:@userHeader-height;
		background:none;
		border:none;
		.imageUploader-content{
			
			height: 100%;
			width: 100%;
			background:@userHeader-background;
			border-bottom-left-radius: @userHeader-radius;
			border-bottom-right-radius: @userHeader-radius;

			.imageUploader-preview{
				height:@userHeader-height;
				width: 100%;
				.ant-progress{
					top:40%;
				}
				.progress-done{display: none;}
			}	
		}
		.imageUploader-overlay{right:20px;bottom:20px;font-size:20px;background: #FFF;color:@dark-gray-color;border-radius: 50%;width: 30px;height:30px;line-height:30px;}
	}
	.userPic-uploader.ant-upload.ant-upload-drag.imageUploader{
		display:inline-block;
		margin-top:-75px;
		width:@userPic-size;
		height:@userPic-size;
		background:none;
		border:none;
		
		.imageUploader-content {
			
			height: 100%;
			width: 100%;
			background:@dark-gray-color;
			border-radius: 50%;
			box-shadow: 0 0 15px #000;
			
			.imageUploader-preview{
				height:@userPic-size;
				width: @userPic-size;
				.progress-done{display: none;}
			}
			.imageUploader-info{font-size:55px;color:#FFF;}
		}
		.imageUploader-overlay{right:0px;bottom:0px;font-size:20px;background: #FFF;color:@dark-gray-color;border-radius: 50%;width: 30px;height:30px;line-height:30px;}
		
	}
	.profileSkeleton {
		width:300px;
		margin:12px auto;
		.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title{ margin: 0 auto; height:1.22em; }
		.ant-skeleton-content .ant-skeleton-paragraph{margin-top:32px;} 
		.ant-skeleton-content .ant-skeleton-paragraph li{height:10px;}
		.ant-skeleton-content .ant-skeleton-paragraph li + li{margin-top:10px;}
		.ant-skeleton-content .ant-skeleton-paragraph > li:last-child { display:none; }
	}
	.userProfileBio {
		white-space: pre-line;
		.anticon-edit{margin-right:-1.5em;margin-left:0.5em;}
	}
	
	#bioForm .ant-form-item {
    margin-bottom: 10px;

		textarea.ant-input { 
			text-align: center;
			padding-top:0;
			@media screen and (min-width: 996px) {
				max-width: 500px;
			}
		}
  }
}

/*NFT PAGE*/
.nft-page{
	h1{
		font-size:1.4em;
		margin-bottom:0;
		line-height: 1.2;
		
		@media screen and (min-width: 768px) {
			font-size:1.8em;
		}
		@media screen and (min-width: 1600px) {
			font-size:2.2em;
		}
	}
	h2{
		font-size:1.2em;
		margin-bottom:0;
		line-height: 1.2;
		
		@media screen and (min-width: 768px) {
			font-size:1.4em;
		}
		@media screen and (min-width: 1600px) {
			font-size:1.8em;
		}
	}

	.nft-image-box{
		margin-bottom:16px;

		.ant-image{
			width:100%;
			text-align: center;
			img{width: 100%;}
		}
		
		.ant-skeleton{
			width:100%;
			.ant-skeleton-image{margin:auto;}
		}

		@media screen and (min-width: 996px) {
			margin-bottom:0;
			display: flex;justify-content: space-between;align-items:center;
			height: calc(100vh - 100px);
			border-right:1px solid @dark-color;

			.ant-image{
				height:100%;
				display: flex;
				img{width: auto;height: auto;max-width: 100%;max-height: 100%;margin:auto;}
			}
		}
	}
	
	.nft-right-box{
		width: 100%;
		display: flex;
		flex-direction: column;

		.nft-label{color:@gray-color;margin-bottom:8px;}
		.ant-tag.tag-category{background:@primary-color;color:@btn-primary-color;}
		.ant-space-vertical{width: 100%;}
		.ant-space-vertical > * {width: 100%;}

		.nft-info-box{margin-bottom:32px;}

		.nft-auction-box{margin-bottom: 8px;}
		.nft-bets-list-box{flex:auto;overflow: auto;}

		.nft-bet-box{
			position:fixed;
			bottom:0;
			left:0;
			right:0;
			background: @dark-color;
			border-top: 2px solid @primary-color;
			z-index:1000;
			padding:15px 20px;
			box-shadow: 0 0 16px rgb(0 0 0 / 80%);
	
			p{font-size:0.8em;margin-bottom:0;line-height: 1.2;color:@gray-color;}
			button,.ant-input-number{width:100%}
			.ant-form-item{margin-bottom: 0;}
	
			@media screen and (min-width: 768px) {
				p{font-size: 1em;}
			}
			@media screen and (min-width: 996px) {
				position:static;
				box-shadow:none;
				margin-bottom:32px;
				border-bottom: 2px solid @primary-color;
				background: transparent;
				padding:15px 0;
			}
		}

		@media screen and (min-width: 996px) {
			margin-bottom:0;
			height: calc(100vh - 100px);
		}
	}	
}

.ant-list-item.bet-tpl{	
	.time-label{color:@gray-color;font-size: 0.8em;}
	.price-label{
		font-size:1.4em;
	}
}

.price-label{
	font-size:2em;
	.currency{font-size: 0.5em;color:@gray-color;}
}

.countdown{
	font-size:2em;

 .countdown-label{font-size: 0.5em;color:@gray-color;}
 .countdown-points{color:@gray-color;}
}

/*CREATE*/
.create-page{
	max-width: 600px;
	margin: 0 auto;

	.ant-input-number,.ant-picker{width: 100%;}

	.ant-divider-inner-text{
		.ant-tag{background:@primary-color;color:@btn-primary-color;position: relative;top:-2px;}
	}
}


/*SCROLLBAR*/
::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb{
	background: @dark-gray-color;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
	background: @primary-color;
}
::-webkit-scrollbar-track{
	background: @dark-color;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 0px @dark-color;
}